.container {
  max-width: 1100px;
  padding: 0 30px; // left and right
  margin: 0 auto;
  overflow: auto;
}

// Set background and text color:
@mixin set-background($color){
  background-color: $color;
  color: set-text-color($color);
}

// Margin and padding classes:
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts{
  .m-#{$space}{
    margin: #{$space}rem;
  }

  .my-#{$space}{
    margin: #{$space}rem 0;
  }

  .p-#{$space}{
    padding: #{$space}rem;
  }

  .py-#{$space}{
    padding: #{$space}rem 0;
  }
}
