// Compiling: sass --watch scss/style.scss css/style.css

@import 'config';
@import 'utilities';
@import 'buttons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
}

.img {
  widows: 100%;
}

a {
  text-decoration: none;
}

.showcase {
  @include set-background($primary-color);
  height: 600px;

  nav {
    display: flex; // Display horizontally
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;

      li {
        padding: 15px;
      }
    }

    a {
      color: set-text-color($primary-color);
    }

    a:hover {
      color: $secondary-color;
    }
  }

  // & is a reference to the parent = .showcase-content
  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    img {
      width: 60%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
  }
}

@import 'mobile'