<!DOCTYPE html>
<html>

<head>
	<title>Vue.js</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Demo project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<style type="text/css">
		.fade-enter-active, .fade-leave-active {
			transition: opacity .5s;
		}
		.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
			opacity: 0;
		}
	</style>
</head>
<body>
		<div class="app">
			<h1 ref="title">{{titulo}}</h1>

			<select v-model="movie">
				<option value="transformers">Transformers</option>
				<option value="gameOfthrones">Game Of Thrones</option>
			</select>

			<transition name="fade">
				<component :is="movie"></component>
			</transition>

			<ul ref="users">
				<li v-for="(item, index) in users" :key="item.name">{{item.name}}    <a @click.stop.prevent="remove"><button class="btn btn-danger btn-sm">X</button></a><br><br></li>
			</ul>
		</div>
		
		
		<template id="transformers">
				<div>
					<h4>Transformers</h4>
					<ul>
						<li v-for="item in transf">{{item.name}}</li>
					</ul>
				</div>
		</template>
			
		<template id="gameOfthrones">
				<div>
					<h4>Game Of thrones</h4>
					<ul>
						<li v-for="item in atores">{{item.name}}</li>
					</ul>
				</div>
		</template>
			
		<script>
		
		 Vue.component('transformers',{

		 	template: "#transformers",
		 		data(){
		 			return{
              			transf:[
             				{name: "Transformers 1"},
             				{name: "Transformers 2"},
             				{name: "Transformers 3"}
            			],	
		 			}
		 		}
		 });
		 
		 Vue.component('gameOfthrones',{

		 	template: "#gameOfthrones",
		 		data(){
		 			return{
		 				atores:[
                			{name: "Jon Snow"},
                			{name: "Daenerys Targaryan"},
                			{name: "Tyron"}
              			],
		 			}
		 		}
		 });
		
		var app = new Vue({
              el: '.app',
              
              mounted(){
              	console.log(this.$refs);
              	console.log(this.$refs.users);
              },
              
              data: {
              	titulo: "Vue.js",

                users:[
                	{name: "Ema"},
                	{name: "Sofia"},
                	{name: "Isabela"}
                	],

                movie: 'gameOfthrones',	
              },
              
              methods:{
              	remove(index){
              		this.users.splice(index, 1);
              	}
              }
            })
		</script>
</body>

</html>